*  {
    margin:0;
    padding:0;
}
body
{
    background-color: white;
}
a.link
{
    text-decoration: none;
    color: black;
}
a.active
{
    text-decoration: none;
    color: black;
}            
a.visited
{
    text-decoration: none;
    color: black;
}        
a:hover
{
    text-decoration: none;
    color: red;
}        
a{
    text-decoration: none;
    color: black;
}    
footer
{
    position:absolute;
    bottom:0;
    width:100%;
    color: black;
    text-align: center;
}
#tablehome
{
    width: 100%;
    height: 600px;
    border: 1px solid silver;
}
#errorlogin
{
    color: white;
    background-color: white;
    width:20%;
    font-weight: bold;
    height: 30px;
    padding-top: 15px;
    border-radius: 20px;
}
#formlogin
{
    margin-bottom: 10px;
}
#logologin
{
    text-align: center;
    margin-top: 150px;
}
#divlogin
{
    background-color: white;
    border-radius: 20px;
    width:30%;
}